/* Estilo general */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

/* Estilo del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Cuando el modal está activo */
.modal.active {
    visibility: visible;
    opacity: 1;
}

/* Contenedor del contenido del modal */
.modal-content {
    background-color: #e64e4e;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
}

/* Texto dentro del modal */
.modal p {
    font-size: 1.5rem;
}

/* Estilo de los botones */
.modal button {
    background-color: #ff0055;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
}

/* Efecto hover en los botones */
.modal button:hover {
    background-color: #fb4872;
}